
<dialog [open]="visible" class="dialog">
  <div class="dialog-body">
    <p class="header">{{header[action]}}</p>
    <div class="dialog-main">
      <input pInputText id="username" [class.invalidInfo]="missInfo"
      [(ngModel)]="changedvalue.name" [disabled]="isdisabled" />
      <ng-container *ngIf="missInfo">
        <p class="text-xs text-red-800 mt-1" >* Invalid Name</p>
      </ng-container>
      <div class="flex gap-2 relative right-0 justify-content-end mt-4">
        <ng-container *ngIf="isdisabled">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </ng-container>
        <p-button label="Cancel" [disabled]="isdisabled" severity="secondary" (onClick)="closeDialog()" [style]="{padding:'0.25rem'}" />
        <p-button label="Save" (onClick)="SaveUpdate()" [style]="{padding:'0.25rem'}" [disabled]="isdisabled"/>
      </div>

    </div>
  </div>
  
</dialog>

