<div class="footer flex justify-content-between align-items-center px-8
    bg-black-alpha-90 text-white-alpha-90 h-12rem">
  <div class="left-footer flex flex-column w-21rem ">
    <div class="flex gap-3">
      <i class="pi pi-map-marker text-xl"></i>
      <div>
        <p class=""><b>Địa chỉ:</b></p>
        <p class=""><b>Đường số 15, thôn Phú Ân Nam 1, xã Diên An, huyện Diên Khánh, tỉnh Khánh Hòa</b></p>
      </div>
    </div>
    <div class="flex gap-3 mt-2">
      <i class="pi pi-phone text-xl"></i>
      <div>
        <p class=""><b>Liên hệ:</b></p>
        <p class=""><b>09354339XX</b></p>
      </div>
    </div>
  </div>

  <div class="mid-footer w-15rem flex flex-column justify-content-between align-items-center">
    <a routerLink="/home"> <img src="../../assets/AnhTrang.png" alt="" style="width: 15rem;"> </a>
    <p class="mt-2 text-center"><b>AnhTrang xin chân thành cảm ơn quí khách hàng đã tin tưởng và ủng hộ Shop</b>!</p>
  </div>
  
  <div class="right-footer flex w-21rem justify-content-end">
    <div class="w-max">
      <div class="flex gap-3">
        <i class="pi pi-envelope text-xl"></i>
        <div>
          <p class=""><b>Email:</b></p>
          <p class=""><b>anhtrang&#64;gmail.com</b></p>
        </div>
      </div>
      <div class="flex gap-3 mt-6">
        <a><i class="pi pi-facebook text-xl text-white-alpha-90"></i></a>
        <div>
          <p class=""><b>Facebook:</b></p>
          <p class=""><b>AnhTrang Shop</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
