
<div class="flex flex-column align-items-center justify-content-center bg-indigo-600">
  <app-message [index]="2" #message></app-message>
  <form [formGroup]="logInForm" (ngSubmit)="logIn()" class="login">
    <p class=" mb-5 font-bold text-xl">ĐĂNG NHẬP</p>
    <div>
      <div class="flex gap-2 mb-3 flex-column">
        <label class="text-sm">Số điện thoại</label>
        <input 
            pInputText
            formControlName="phoneNumber" />
            <label class="text-xs text-red-500">*Is required</label>
      </div>
      <div class="flex flex-column gap-2 mb-3">
        <label class="text-sm">Mật khẩu</label>
        <p-password [toggleMask]="true" [feedback]="false"
            formControlName="password"
        />
        <label class="text-xs text-red-500" >*Is required</label>
          
      </div>
  
      <div>
        <p-button label="ĐĂNG NHẬP" type="submit" severity="primary" styleClass="p-2 w-12 my-2" />
      </div>
    </div>
    <div class="flex gap-2 align-items-center justify-content-center mt-3">
      <p class="text-xs">Bạn chưa có tài khoản?</p>
      <a class="text-xs font-bold text-indigo-500 cursor-pointer"
        routerLink="/register"
      >Tạo tài khoản</a>
    </div>
  </form>
</div>
